@font-face {
  font-family: "Magistral";
  src: url("./fonts/MAGISTRAL-NORMAL-FIN.woff") format("woff");
}

.App {
  background-color: black;
  position: relative;
  overflow: hidden;
}

/* background color green */
.color-spread {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 0;
}

.spread1 {
  background: radial-gradient(
    circle,
    rgba(1, 21, 3) 40%,
    rgba(1, 21, 3, 0) 100%
  );
  width: 500px;
  height: 500px;
  top: 700px;
  left: 900px;
  filter: blur(80px);
}

.spread2 {
  background: radial-gradient(
    circle,
    rgba(1, 21, 3) 40%,
    rgba(1, 21, 3, 0) 100%
  );
  width: 600px;
  height: 600px;
  top: 1100px;
  left: -200px;
  filter: blur(100px);
}

.spread3 {
  background: radial-gradient(
    circle,
    rgba(1, 21, 3) 40%,
    rgba(1, 21, 3, 0) 100%
  );
  width: 600px;
  height: 600px;
  top: 1900px;
  left: -200px;
  filter: blur(100px);
}

.spread4 {
  background: radial-gradient(
    circle,
    rgba(1, 21, 3) 40%,
    rgba(1, 21, 3, 0) 100%
  );
  width: 800px;
  height: 800px;
  top: 2500px;
  left: -250px;
  filter: blur(100px);
}

.spread5 {
  background: radial-gradient(
    circle,
    rgba(1, 21, 3) 40%,
    rgba(1, 21, 3, 0) 100%
  );
  width: 800px;
  height: 800px;
  top: 2200px;
  left: 700px;
  filter: blur(100px);
}

.spread6 {
  background: radial-gradient(
    circle,
    rgba(1, 21, 3) 40%,
    rgba(1, 21, 3, 0) 100%
  );
  width: 800px;
  height: 800px;
  top: 3500px;
  left: 700px;
  filter: blur(100px);
}

.spread7 {
  background: radial-gradient(
    circle,
    rgba(1, 21, 3) 40%,
    rgba(1, 21, 3, 0) 100%
  );
  width: 600px;
  height: 600px;
  top: 4100px;
  left: -200px;
  filter: blur(100px);
}

.spread8 {
  background: radial-gradient(
    circle,
    rgba(1, 21, 3) 40%,
    rgba(1, 21, 3, 0) 100%
  );
  width: 800px;
  height: 800px;
  top: 4500px;
  left: 700px;
  filter: blur(100px);
}

.spread9 {
  background: radial-gradient(
    circle,
    rgba(1, 21, 3) 40%,
    rgba(1, 21, 3, 0) 100%
  );
  width: 800px;
  height: 800px;
  top: 4800px;
  left: -200px;
  filter: blur(100px);
}

.App .Profile {
  position: relative;
  z-index: 1;
}
